*{
    padding: 0px;
    margin: 0px;
}
nav {
    height: 90px;
    background-color: #171616cb;
    position: relative;
}
nav img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 2%;
}
#logo{
    height: 90px;
    line-height: 90px;
}
#logo h1{
    margin-left: 100px;
    font-size: 30px;
    color: #409EFF;
}
.el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
    font-size: 20px;
}
.el-icon-arrow-down {
    font-size: 20x;
}
.demonstration {
    display: block;
    color: #8492a6;
    font-size: 14px;
    margin-bottom: 20px;
}

#head_dropdown{
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.el-header {
  background-color: #B3C0D1;
  color: #333;
  line-height: 60px;
}

.el-aside {
  color: #333;
}
.el-main {
    padding: 0px;
}
