<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.igenerat.dao.DepartDao">

    <insert id="addDepart">
        insert into depart (depart) values (#{name})
    </insert>
    <update id="updateDepart">
        update depart set depart=#{name} where d_id=#{id}
    </update>
    <delete id="deleteDepart">
        delete from depart where d_id=#{id}
    </delete>
    <select id="findAll" resultType="java.util.HashMap">
        select d_id as id,depart as name from depart
    </select>
    <select id="findDepart" resultType="java.util.HashMap">
        select d_id as id,depart as name from depart where depart like CONCAT('%',#{name},'%')
    </select>
</mapper>